# Naive Bayes Ml Model

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('play_tennis.csv')


data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

We dont need "day" feature as it is not important

In [3]:
data.drop(columns=["day"], inplace=True)

data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

## Problem 1

- Outlook: sunny, Temp: Hot, Humidity: High, Wind: Weak
- play or not?

## Soluttion

- p(yes/ sunny,Hot,High,Weak) = p(sunny/yes) * p(Hot/yes) * p(High/yes) * p(Weak/yes) * p(yes)

- p(no/ sunny,Hot,High,Weak) = p(sunny/no) * p(Hot/no) * p(High/no) * p(Weak/no) * p(no)     
                   
- Compare and decide using maximum a posteriori rule

probability of yes (py)    
probability of no (pn)

In [4]:
data['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [5]:
py = 9/14
pn = 5/14

In [6]:
print("probability of yes (py):" , py)
print("probability of no (pn):" , pn)

probability of yes (py): 0.6428571428571429
probability of no (pn): 0.35714285714285715

### outlook

In [7]:
pd.crosstab(data.outlook, data.play)

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [8]:
pOverCastNo = 0
pRainNo = 2/5
pSunnyNo = 3/5


pOverCastYes = 4/9
pRainYes = 3/9
pSunnyYes = 2/9

### Teamperature

In [9]:
pd.crosstab(data['temp'], data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [10]:
pCoolNo = 1/5
pHotNo = 2/5
pMildNo = 2/5


pCoolYes = 3/9
pHotYes = 2/9
pMildYes = 4/9

### Humidity

In [11]:
pd.crosstab(data['humidity'], data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [12]:
pHighNo = 4/5
pNormalNo = 1/5


pHighYes = 3/9
pNormalYes = 6/9

#### Wind

In [13]:
pd.crosstab(data.wind, data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [14]:
pStrongNo = 3/5
pWeakNo = 2/5


pStrongYes = 3/9
pWeakYes = 6/9

### # Outlook: sunny, Temp: Hot, Humidity: High, Wind: Weak

In [15]:
pYes = py * pSunnyYes * pHotYes * pHighYes * pWeakYes

print(pYes)

0.007054673721340388

In [16]:
pNo = pn * pSunnyNo * pHotNo * pHighNo * pWeakNo

print(pNo)

0.02742857142857143

From above probability outcome we can predict that the situation is not good to play